//- index.pug
doctype html
html(lang="fr")
  head
    meta(charset='utf-8')
    title Web_blabla
    meta(name='description', content='My boilerplate for web projects')
    meta(name='author', content='charlyoleg')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/web_blabla_style.css?v=1.0')
    link(rel='manifest', href='/manifest.json')
    link(rel='icon', href='web_blabla_favicon.svg', type='image/svg+xml')
    script(type="text/javascript" src="lib/stimulus.umd.js")
  body
    // web_blabla's header
    header
      h1
        img.head_title_img(src='img/logo_web_blabla.svg', alt='web_blabla')
      h2 My boilerplate for web projects
    // web_blabla's main
    main

      section
        input.shutter_panel_checkbox#local_shutter_checkbox_1(type='checkbox' checked=true)
        label.shutter_panel_button(for='local_shutter_checkbox_1')
        h1 Fist section
        section.shutter_panel
          h2 Voici et voilà
          a(href='/about') about

      section
        input.shutter_panel_checkbox#local_shutter_checkbox_2(type='checkbox' checked=false)
        label.shutter_panel_button(for='local_shutter_checkbox_2')
        h1 Second section
        section.shutter_panel
          section.island(data-controller="addmult")
            h2 Some Stimulus controllers
            p (a+b)*c
            input(type='number' value='5' data-target='addmult.operanda')
            p +
            input(type='number' value='3' data-target="addmult.operandb")
            p *
            input(type='number' value='2' data-target="addmult.operandc")
            p
              button(type="button" data-action!="click->addmult#pressCalcul") Calcul
            input(type='number' readonly=true data-target="addmult.result")



      section
        input.shutter_panel_checkbox#local_shutter_checkbox_3(type='checkbox' checked=false)
        label.shutter_panel_button(for='local_shutter_checkbox_3')
        h1 Third section
        section.shutter_panel
          h2 More Stimulus controllers
          p oye oye


    // Rouleau's footer
    include ../pug_includes/web_blabla_footer.pug

    // The core logic
    script(type='module', src='js/web_blabla_app.js?v=1.0')
    // The service-worker
    if fingerprint.with_service_worker
      script.
        if ('serviceWorker' in navigator) {
          console.info('Service Worker is supported in this browser, but not yet used');
          //navigator.serviceWorker.register('./web_blabla_service_worker.js')
          // .then(registration => console.log('web_blabla service worker installed with scope: ', registration.scope))
          // .catch(err => console.error('Error by installing the web_blabla service worker: ', err));
        } else {
          console.info('Service Worker is not supported in this browser');
        }
